# URL тестового api
API_URL="http://testassignment_nginx_test"
#
# БД для API-тестов
NOTEBOOKS_DB="/database/notebooks.db"
#
# БД для прочих тестов
NOTEBOOKS_TEST_DB="/database/notebooks.test.db"
#
# тестовые данные
NOTEBOOKS_TEST_DB_ASSETS="/app/tests/assets/notebooks.php"
